{% extends 'layout.html' %}

{% block body %}
<style>
    body{
        background-color: blue;
    }

</style>
<div class="container" >
    <div class="d-flex flex-row justify-content-center">
        <form action="/register" method="post" style="background-color:white" class="p-5 rounded">
            <div class="mb-3">
                <label for="email" class="form-label">Email adress</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else</div>
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="confirmPassword">
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </form>
    </div>
</div>
{% endblock body %}